{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile/schedule.css' %}">
{% endblock %}

{% block content %}

<div class="sch-admin-card">

    <h1 class="admin-title">Удалить слот?</h1>

    <p>Вы уверены, что хотите удалить слот врача <b>{{ object.doctor }}</b> 
        {{ object.date }} с {{ object.start_time }}?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="slot-delete-btn">Удалить</button>
    </form>

    <a href="{% url 'users:admin_schedule_list' %}" class="slot-back-btn">Отмена</a>

</div>

{% endblock %}
