{% extends "profile/profile.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile/schedule.css' %}">
{% endblock %}

{% block content %}

<div class="admin-card">
    <h1 class="admin-title">Расписание</h1>

     <a href="{% url 'users:admin_schedule_add' %}" class="admin-btn add-btn">
        + Добавить расписание
    </a> 
    <!-- Фильтры -->
    <form method="get" class="filter-form">
        <select name="doctor">
            <option value="">Все врачи</option>
            {% for doc in doctors %}
                <option value="{{ doc.id }}" {% if request.GET.doctor == doc.id|stringformat:"s" %}selected{% endif %}>
                    {{ doc }}
                </option>
            {% endfor %}
        </select>

        <input type="date" name="date" value="{{ request.GET.date }}">

        <select name="status">
            <option value="">Все статусы</option>
            {% for value, label in status_choices %}
                <option value="{{ value }}" {% if request.GET.status == value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>

        <button type="submit" class="filter-btn">Применить</button>
    </form>

    <hr>

    {% if schedules %}
    
        {% regroup schedules by doctor as doctor_list %}

        {% for doctor_group in doctor_list %}
            <h2 class="doctor-title toggle-doctor" data-doctor-id="{{ forloop.counter }}">{{ doctor_group.grouper }}</h2>
            <div class="doctor-schedule hidden" id="doctor-{{ forloop.counter }}">

            {% regroup doctor_group.list by date as date_list %}

            {% for date_group in date_list %}
                <div class="date-block">
                    <h3>{{ date_group.grouper }}</h3>

                    <div class="time-list">
                        {% for slot in date_group.list %}
                            <div class="slot-row">
                                <span class="time">{{ slot.start_time }} — {{ slot.end_time }}</span>

                                {% if slot.status == 'available' %}
                                    <span class="status free">Свободно</span>

                                {% elif slot.status == 'booked' %}
                                    <span class="status booked">
                                       Ожидает подтверждения 
                                       <p>({{ slot.booked_by.last_name.capitalize }} {{ slot.booked_by.first_name.capitalize }} {{ slot.booked_by.patronymic.capitalize }}: {{ slot.booked_by.phone }})</p>
                                    </span>

                                {% elif slot.status == 'confirmed' %}
                                    <span class="status confirmed">
                                        Подтверждено 
                                        <p>({{ slot.booked_by.last_name.capitalize }} {{ slot.booked_by.first_name.capitalize }} {{ slot.booked_by.patronymic.capitalize }}: {{ slot.booked_by.phone }})</p>
                                    </span>

                                {% elif slot.status == 'completed' %}
                                    <span class="status completed">
                                       Приём завершен 
                                       <p>({{ slot.booked_by.last_name.capitalize }} {{ slot.booked_by.first_name.capitalize }} {{ slot.booked_by.patronymic.capitalize }}: {{ slot.booked_by.phone }})</p>
                                    </span>    

                                {% endif %}
                                <a href="{% url 'users:admin_schedule_edit' slot.id %}" class="edit-btn">
                                    Редактировать</a>
                                <a href="{% url 'users:admin_schedule_delete' slot.id %}" class="delete-btn">
                                    Удалить</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <p>Нет расписаний</p>
    {% endif %}
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/admin_schedule_toggle.js' %}"></script>
{% endblock %}
    