{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'navbar/doctor_detail.css' %}">
{% endblock extra_css %}


{% block title %}
{{ doctor.last_name }} {{ doctor.first_name }} — {{ doctor.specialization }}
{% endblock %}

{% block content %}
<div class="doctor-detail">

    <div class="doctor-header">
        <div class="doctor-photo">
            {% if doctor.photo %}
                <img src="{{ doctor.photo.url }}" alt="{{ doctor }}">
            {% else %}
                <img src="{% static 'core/images/doctor_photo/doctor-placeholder.png' %}" alt="Фото врача">
            {% endif %}
        </div>

        <div class="doctor-main-info">
            <h1 class="doctor-name">
                {{ doctor.last_name }} {{ doctor.first_name }}
                {% if doctor.patronymic %}
                    {{ doctor.patronymic }}
                {% endif %}
            </h1>

            <p class="doctor-specialization">
                {{ doctor.specialization }}
            </p>

            <p class="doctor-experience">
                Стаж: {{ doctor.experience }}
            </p>

            <a href="{% url 'users:available_schedule_by_doctor' doctor.slug %}" class="btn-records">
                Записаться на приём
            </a>

            {% if user.is_authenticated %}
                    <a href="{% url 'review_create' doctor.slug %}" class="btn-review">Оставить отзыв</a>
            {% endif %}
        </div>
    </div>

    {% if doctor.description %}
    <div class="doctor-description">
        <h2>О враче</h2>
        <p>
            {{ doctor.description|linebreaks }}
        </p>
    </div>
    {% endif %}

                {% if reviews %}
<div class="reviews-section">
    <h2>Отзывы пациентов</h2>
    
    <div class="rating-summary">
        Средний рейтинг: {{ avg_rating|floatformat:1 }} ★ из {{ review_count }} отзывов
    </div>

    {% for review in reviews %}
    <div class="review-item">
        <div class="review-header">
            <strong>{{ review.patient.last_name|capfirst }} {{ review.patient.first_name|capfirst }} {{ review.patient.patronymic|capfirst|default:"" }}</strong>
            <span class="review-rating">{{ review.rating }} ★</span>
            <small>{{ review.created_at|date:"d.m.Y" }}</small>
        </div>
        {% if review.comment %}
            <p>{{ review.comment|linebreaks }}</p>
        {% endif %}
        </div>
    {% endfor %}
        </div>
        {% else %}
        <p>Пока нет отзывов.</p>
        {% endif %}

</div>
{% endblock %}
