/* Стили для расписания рачей */

.schedule-container {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.06);
}

.doctor-block { 
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e6e9ef;
}

.doctor-block h3 {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 22px;
    color: #102a49;
}

.date-block {
    margin-bottom: 20px;
}

.date-block h4 {
    font-size: 18px;
    color: #2f496e;
    margin-bottom: 10px;
}

.time-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.time-btn {
    padding: 10px 18px;
    background: #ef5350;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 15px;
    transition: .25s;
}

.time-btn:hover {
    background: #d32f2f;
}

.no-slots {
    font-size: 16px;
    text-align: center;
    color: #102a49;
    margin-top: 20px;
}


/* Стили для расписания врачей в админ-профиле */
.add-btn {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 210px;
    background-color: #efebec;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #102a49;
}

.add-btn:hover {
    background-color: #102a49;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.filter-form {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-form select,
.filter-form input {
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-family: 'Evolventa';
}

.filter-btn {
    padding: 10px 20px;
    background-color: #102a49;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.filter-btn:hover {
    background: #efebec;
    color: #102a49;
}

.doctor-title {
    font-size: 22px;
    margin-top: 25px;
}

.date-block {
    background: #f7f8fa;
    padding: 15px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.slot-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    margin: 5px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.status {
    font-weight: 600;
    text-align: center;
    width: 150px;
}

.status.free { color: #2e7d32; }
.status.booked { color: #ef6c00; }
.status.confirmed { color: #1565c0;}

.edit-btn {
    height: 40px;
    padding: 10px 30px;
    background-color:  #102a49;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.edit-btn:hover {
    background-color:  #efebec;
    color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.delete-btn {
    height: 40px;
    padding: 10px 30px;
    background-color: #cc587b;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.delete-btn:hover {
    background-color:  #efebec;
    color:#102a49;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}

/* Форма для создания расписания */

.admin-card {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.admin-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #102a49;
}

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-form p {
    margin: 0;
}

.admin-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
}

.admin-form input,
.admin-form select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 15px;
    background-color: #f8fafc;
    transition: 0.2s;
}

.admin-form input:focus,
.admin-form select:focus {
    border-color:  #102a49;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 0 3px  #102a49;
}

.submit-btn {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 210px;
    background-color: #102a49;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    border: none;
    color:  #efebec;
}

.submit-btn:hover {
    background-color:  #efebec;
    color: #102a49;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.back-btn {
    margin-top: 25px;
    padding: 12px 35px;
    background-color: #cc587b;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.back-btn:hover {
    background-color:  #efebec;
    color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Стили для заявок пациентов */

.requests-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.requests-card {
    background-color:  #102a4915;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 20px;
}

.requests-text {
    font-size: 1.1rem;
    color:  #102a49;
    margin: 7px 7px 7px;
}

.requests-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color:  #102a49;
}

.request-card {
    background: #ffffff;
    border-radius: 30px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.06);
    border-left: 6px solid #102a49;
}

.request-card p {
    margin: 8px 0;
    font-size: 16px;
    color: #333;
}

.request-card b {
    font-weight: 600;
    color: #0f172a;
}

.request-actions {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.confirm-btn,
.cancel-btn {
    display: inline-block;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.2s;
}

/* Кнопка подтверждения */
.confirm-btn {
    background-color: #09583d;
    color: #fff;
}

.confirm-btn:hover {
    background-color: #0f9d74;
}

/* Кнопка отмены */
.cancel-btn {
    background-color:  #cc587b;
    color: #fff;
}

.cancel-btn:hover {
    background-color: #ca7b93;
}

/* Когда нет заявок */
.no-requests {
    text-align: center;
    font-size: 18px;
    color: #475569;
    margin-top: 40px;
}

/* Удаление слота со временем у врача */

.sch-admin-card {
    height: 300px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.slot-delete-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    background-color: #cc587b;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.slot-delete-btn:hover {
    background-color:  #efebec;
    color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


.slot-back-btn {
    padding: 10px 30px;
    background-color:#102a49;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.slot-back-btn:hover {
    background-color:  #efebec;
    color:#102a49;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}