{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms/forms.css' %}">
{% endblock %}

{% block content %}
<div class="registration-container">

    {% if token_fail %}
        <h2>Ошибка</h2>
        <p class="info-text">
            Ссылка недействительна или устарела.
        </p>

        <a href="{% url 'account_reset_password' %}" class="extra-btn">
            Запросить новую ссылку
        </a>

    {% else %}
        <h2>Новый пароль</h2>
        <p class="info-text">
            Введите новый пароль дважды
        </p>

    <form method="post" class="registration-form">
        {% csrf_token %}

            <div class="form-field">
                {{ form.password1 }}
            </div>

            <div class="form-field">
                {{ form.password2 }}
            </div>
            {% if form.errors %}
                <div class="form-errors">
                    {{ form.errors }}
                </div>
            {% endif %}

        <button type="submit" class="reset-btn">
            Сохранить пароль
        </button>
    </form>
    {% endif %}

</div>
{% endblock %}

