{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms/forms.css' %}">
{% endblock %}

{% block content %}
<div class="registration-container">
    <h2>Пароль обновлён</h2>

    <p class="info-text">
        Ваш пароль успешно изменён. Теперь вы можете войти в аккаунт.
    </p>

    <a href="{% url 'account_login' %}" class="cabinet-btn" style="display:block; text-align:center; margin-top:20px;">
        Войти
    </a>
</div>
{% endblock %}

