/* Форма регистрации */
.registration-container {
    max-width: 500px;
    margin: 70px auto;
    padding: 30px;
    background-color: #efebec;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.registration-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #102a49;
    font-family: 'Evolventa', Arial, sans-serif;
}

.registration-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #102a49;
    font-family: 'Evolventa', Arial, sans-serif;
}

.registration-form input, 
.registration-form select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #102a49;
    font-family: 'Evolventa', Arial, sans-serif;
    font-size: 0.95rem;
}

.registration-form input:focus,
.registration-form select:focus {
    outline: none;
    border-color: #102a49;
    box-shadow: 0 0 5px rgba(16,42,73,0.5);
}

.cabinet-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 1rem;
    border-radius: 30px;
    border: none;
    background-color: #102a49;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.cabinet-btn:hover {
    background-color: #0b1b33;
    transform: translateY(-2px);
}

.extra-links {
    margin-top: 20px;
}

.extra-text {
    margin-top: 10px;
}

.extra-btn {
    text-decoration: none;    
    margin-top: 20px;
    padding: 5px 50px;
    border: none;
    width: 250px;  
    font-family: 'Evolventa', Arial, sans-serif;
    color: #0b1b33;
    font-size: 1rem;   
    text-decoration: none;
    display: inline-block;
    min-width: 120px;
    
}

.extra-btn:hover {
    transform: translateY(-2px);
    color: rgb(148, 11, 125);
    text-decoration: underline;
}