.map {
    width: 80%;
    height: 400px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 10%;
}

.contact-info {
    margin-left: 10%;
    margin-top: 30px;
}

.section-title {
    margin: 50px;
}