.section-title {
    margin-top: 50px;
    color: #102a49;
    font-size: 2.2rem;
}

.services-section {
    margin: 50px;
    font-family: 'Evolventa', Arial, sans-serif;
    color: #102a49;
}

.services-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Таблица услуг */
.services-table {
    width: 50%;
    border-collapse: separate; 
    border-spacing: 0;         
    overflow: hidden;         
    border-radius: 12px; 
    margin-left: 25%;
}

.services-table th,
.services-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.services-table th {
    background-color: #102a49;
    color: white;
    border-bottom: 2px solid #ccc;
}

.services-table tr:hover {
    background-color: #f1f1f1;
}

/* Адаптив для маленьких экранов */
@media (max-width: 768px) {
    .services-section {
        margin: 20px;
    }

    .services-table th,
    .services-table td {
        padding: 10px;
    }
}
