{% extends "profile/profile.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile/schedule.css' %}">
{% endblock %}

{% block content %}
    <h2 class="section-title" style="margin-top: 30px;">Расписание врачей</h2>
<div class="schedule-container">
    {% if doctors %}
       {% for doc_id, data in doctors.items %}
<div class="doctor-block">
    <h3>{{ data.doctor.last_name }} {{ data.doctor.first_name }}</h3>

    {% for date, slots in data.dates.items %}
        <div class="date-block">
            <h4>{{ date }}</h4>
            <div class="time-grid">
                {% for slot in slots %}
                    <a href="{% url 'users:book_appointment' slot.id %}" class="time-btn">
                        {{ slot.start_time|time:"H:i" }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}
    {% else %}
        <p class="no-slots">Нет доступных расписаний.</p>
    {% endif %}
</div>
{% endblock %}
