{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
{% endblock %}

{% block content %}
<h2 class="profile-title">Личный кабинет</h2>
<div class="profile-wrapper">
    <div class="profile-card">
{% if not user.is_staff %}
        <div class="profile-field">
            <i class="fas fa-user"></i>
            <h3> {{ user.last_name }} </h3>
            <h3> {{ user.first_name }} </h3> 
        {% if user.patronymic %}
            <h3> {{ user.patronymic }} </h3>
        {% endif %}
        </div>
        <div class="profile-field">
            <i class="fas fa-birthday-cake"></i>
            <span>Дата рождения: {{ user.birth_date }} </span> 
        </div>
        <div class="profile-field">
            <i class="fas fa-phone"></i>
            <span>Телефон: {{ user.phone }} </span>
        </div>
        <div class="profile-field">
            <i class="fas fa-envelope"></i>
            <span>Email: {{ user.email }} </span>
        </div>

        <p class="extra-text">
            <a href="{% url 'account_reset_password' %}" class="change-btn">Сменить пароль</a>
        </p>
        <button class="exit-btn" onclick="location.href='{% url 'account_logout' %}'">
            Выйти
        </button>  
    </div>
    <div class='schedule-block'>      
        <a href="{% url 'users:available_schedule' %}" class="schedule-btn">
            Записаться на приём
        </a>
        <a href="{% url 'users:my_appointments' %}" class="schedule-btn">
            Мои записи
        </a>
        {% endif %}
        
        {% if user.is_staff %}
        <a href="{% url 'users:admin_schedule_list' %}" class="admin-btn">
            Управлять расписанием врачей
        </a>
        <a href="{% url 'users:schedule_requests' %}" class="admin-btn">
            Заявки
        </a>
        <a href="{% url 'users:admin_patients_list' %}" class="admin-btn">
            Список пациентов
        </a>

        <button class="exit-btn" onclick="location.href='{% url 'account_logout' %}'">
            Выйти
        </button>
        {% endif %}
    </div>
    
</div>
{% endblock %}
